.AppBody {
  display: flex;  
  align-items: flex-start;
  height: 100%;
  margin-top: 40px;
  padding-left: 90px;
  position: sticky;
  z-index: 999;
  font-family: Segoe UI;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-block: 0;
}

.bodyRight {
  flex: 0.8;
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  /* flex-direction: column; */
}